media/2022/09/template.txt
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicapp_name": {
            "defaultValue": "MyLogicApp",
            "type": "string",
            "metadata": {
                "comment": "Your Logic app name."
            }
        },
        "logicapp_location": {
            "defaultValue": "[resourceGroup().location]",
            "type": "string"
        },
        "ASEsubscriptionID": {
            "defaultValue": "[subscription().subscriptionId]",
            "type": "string",
            "metadata": {
                "comment": "Subscription ID of your ASE instance. Remove this parameter if you are going to deploy your Logic app to the same subscription as your ASE instance."
            }
        },
        "ASEResourceGroupNamePROD": {
            "defaultValue": "[resourceGroup().name]",
            "type": "string",
            "metadata": {
                "comment": "Resource group name of your ASE instance. Remove this parameter if you are going to deploy your Logic app to the same resrouce group as your ASE instance."
            }
        },
        "connections_office365_name": {
            "defaultValue": "office365",
            "type": "string",
            "metadata": {
                "comment": "Office365 connection name. Leave it as is."
            }
        },
        "connections_office365_connectionid": {
            "defaultValue": "[resourceId('Microsoft.Web/connections', parameters('connections_office365_name'))]",
            "type": "string",
            "metadata": {
                "comment": "[resourceId(parameters('ASEsubscriptionID'), parameters('ASEResourceGroupNamePROD'), 'Microsoft.Web/connections', parameters('connections_office365_name'))]"
            }
        },
        "connections_office365_id": {
            "defaultValue": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, parameters('connections_office365_name'))]",
            "type": "string"
        },
        "EmailAddress": {
            "defaultValue": "email@test.pl",
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_office365_name')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "api": {
                    "id": "[parameters('connections_office365_id')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicapp_name')]",
            "location": "[parameters('logicapp_location')]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[parameters('connections_office365_name')]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Condition_check_approval_email": {
                            "actions": {
                                "Condition_chceck_ase_upgrade_availability": {
                                    "actions": {
                                        "HTTP_ase_update": {
                                            "inputs": {
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "method": "POST",
                                                "uri": "https://management.azure.com/subscriptions/@{variables('subscription_id')}/resourceGroups/@{variables('resource_group_name')}/providers/Microsoft.Web/hostingEnvironments/@{variables('ase_name')}/upgrade?api-version=2022-03-01"
                                            },
                                            "operationOptions": "DisableAsyncPattern",
                                            "runAfter": {},
                                            "type": "Http"
                                        },
                                        "Send_an_email_(V2)": {
                                            "inputs": {
                                                "body": {
                                                    "Body": "<p>The update of @{variables('ase_name')} has started.</p>",
                                                    "Importance": "Normal",
                                                    "Subject": "Upgrade information about @{variables('ase_name')}",
                                                    "To": "@parameters('parm_logicapp_EmailAddress')"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/v2/Mail"
                                            },
                                            "runAfter": {
                                                "HTTP_ase_update": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection"
                                        }
                                    },
                                    "else": {
                                        "actions": {
                                            "Send_an_email_(V2)_2": {
                                                "inputs": {
                                                    "body": {
                                                        "Body": "<p>App Service Environemnt @{variables('ase_name')} does not currently have an upgrade available.</p>",
                                                        "Importance": "Normal",
                                                        "Subject": "Upgrade information about @{variables('ase_name')}",
                                                        "To": "@parameters('parm_logicapp_EmailAddress')"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['office365']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/v2/Mail"
                                                },
                                                "runAfter": {},
                                                "type": "ApiConnection"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@body('Parse_JSON_HTTP_chceck_ase_upgrade_availability')?['properties']?['upgradeAvailability']",
                                                    "Ready"
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {
                                        "Parse_JSON_HTTP_chceck_ase_upgrade_availability": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "If"
                                },
                                "HTTP_chceck_ase_upgrade_availability": {
                                    "inputs": {
                                        "authentication": {
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "https://management.azure.com/subscriptions/@{variables('subscription_id')}/resourceGroups/@{variables('resource_group_name')}/providers/Microsoft.Web/hostingEnvironments/@{variables('ase_name')}?api-version=2022-03-01"
                                    },
                                    "runAfter": {},
                                    "type": "Http"
                                },
                                "Parse_JSON_HTTP_chceck_ase_upgrade_availability": {
                                    "inputs": {
                                        "content": "@body('HTTP_chceck_ase_upgrade_availability')",
                                        "schema": {
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "kind": {
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "properties": {
                                                    "properties": {
                                                        "allowedMultiSizes": {},
                                                        "allowedWorkerSizes": {},
                                                        "apiManagementAccountId": {},
                                                        "clusterSettings": {
                                                            "type": "array"
                                                        },
                                                        "customDnsSuffixConfiguration": {},
                                                        "databaseEdition": {},
                                                        "databaseServiceObjective": {},
                                                        "dedicatedHostCount": {
                                                            "type": "integer"
                                                        },
                                                        "defaultFrontEndScaleFactor": {
                                                            "type": "integer"
                                                        },
                                                        "dnsSuffix": {
                                                            "type": "string"
                                                        },
                                                        "dynamicCacheEnabled": {},
                                                        "environmentCapacities": {},
                                                        "environmentIsHealthy": {
                                                            "type": "boolean"
                                                        },
                                                        "environmentStatus": {},
                                                        "fileServerRoleCount": {},
                                                        "frontEndScaleFactor": {
                                                            "type": "integer"
                                                        },
                                                        "hasLinuxWorkers": {
                                                            "type": "boolean"
                                                        },
                                                        "internalLoadBalancingMode": {
                                                            "type": "string"
                                                        },
                                                        "ipsslAddressCount": {
                                                            "type": "integer"
                                                        },
                                                        "lastAction": {},
                                                        "lastActionResult": {},
                                                        "location": {
                                                            "type": "string"
                                                        },
                                                        "managedIdentityInformation": {},
                                                        "maximumNumberOfMachines": {
                                                            "type": "integer"
                                                        },
                                                        "multiRoleCount": {},
                                                        "multiSize": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "networkAccessControlList": {},
                                                        "networkingConfiguration": {
                                                            "properties": {
                                                                "allowNewPrivateEndpointConnections": {
                                                                    "type": "boolean"
                                                                },
                                                                "externalInboundIpAddresses": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "ftpEnabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "inboundIpAddressOverride": {},
                                                                "internalInboundIpAddresses": {
                                                                    "type": "array"
                                                                },
                                                                "linuxOutboundIpAddresses": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "numberOfOutboundIpAddresses": {
                                                                    "type": "integer"
                                                                },
                                                                "remoteDebugEnabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "targetNumberOfOutboundIpAddresses": {
                                                                    "type": "integer"
                                                                },
                                                                "windowsOutboundIpAddresses": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "osPreference": {},
                                                        "privateEndpointConnections": {
                                                            "type": "array"
                                                        },
                                                        "provisioningState": {
                                                            "type": "string"
                                                        },
                                                        "publicHost": {},
                                                        "resourceGroup": {
                                                            "type": "string"
                                                        },
                                                        "sslCertKeyVaultId": {},
                                                        "sslCertKeyVaultSecretName": {},
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "subscriptionId": {
                                                            "type": "string"
                                                        },
                                                        "suspended": {
                                                            "type": "boolean"
                                                        },
                                                        "upgradeAvailability": {
                                                            "type": "string"
                                                        },
                                                        "upgradeDomains": {},
                                                        "upgradePreference": {
                                                            "type": "string"
                                                        },
                                                        "userWhitelistedIpRanges": {},
                                                        "vipMappings": {},
                                                        "virtualNetwork": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "subnet": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "vnetName": {
                                                            "type": "string"
                                                        },
                                                        "vnetResourceGroupName": {
                                                            "type": "string"
                                                        },
                                                        "vnetSubnetName": {
                                                            "type": "string"
                                                        },
                                                        "workerPools": {},
                                                        "zoneRedundant": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "tags": {
                                                    "properties": {},
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "runAfter": {
                                        "HTTP_chceck_ase_upgrade_availability": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson"
                                }
                            },
                            "else": {
                                "actions": {
                                    "Terminate_2": {
                                        "inputs": {
                                            "runStatus": "Cancelled"
                                        },
                                        "runAfter": {},
                                        "type": "Terminate"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@body('Send_approval_email')?['SelectedOption']",
                                            "Approve"
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Send_approval_email": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "Filter_array_url_link_split_array": {
                            "inputs": {
                                "from": "@variables('url_link_split_array')",
                                "where": "@contains(item(), 'https://portal.azure.com')"
                            },
                            "runAfter": {
                                "var_url_link_split_array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query"
                        },
                        "Send_approval_email": {
                            "inputs": {
                                "body": {
                                    "Message": {
                                        "Body": "<h1 style =\"color:blue;\">Please approve or reject the @{variables('ase_name')} update.</h1>\n<p style=\"color:green;\"> URL link to the resource @{variables('link_to_azure_resource')}</p>\n<p style=\"color:blue;\">Complete information about this notification </p>\n@{triggerBody()?['data']?['alertContext']?['properties']?['communication']}",
                                        "HideHTMLMessage": false,
                                        "Importance": "Normal",
                                        "Options": "Approve, Reject",
                                        "ShowHTMLConfirmationDialog": false,
                                        "Subject": "Approval Request for @{triggerBody()?['data']?['alertContext']?['properties']?['title']} @{variables('ase_name')} in @{triggerBody()?['data']?['alertContext']?['properties']?['region']} region.",
                                        "To": "@parameters('parm_logicapp_EmailAddress')",
                                        "UseOnlyHTMLMessage": true
                                    },
                                    "NotificationUrl": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "path": "/approvalmail/$subscriptions"
                            },
                            "runAfter": {
                                "var_subscription_id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnectionWebhook"
                        },
                        "var_ase_name": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ase_name",
                                        "type": "string",
                                        "value": "@{variables('ase_name_split_array')[12]}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "var_ase_name_split_array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "var_ase_name_split": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ase_name_split",
                                        "type": "string",
                                        "value": "@{split(variables('link_to_azure_resource'),'/')}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "var_link_to_azure_resource": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "var_ase_name_split_array": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ase_name_split_array",
                                        "type": "array",
                                        "value": "@json(variables('ase_name_split'))"
                                    }
                                ]
                            },
                            "runAfter": {
                                "var_ase_name_split": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "var_link_to_azure_resource": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "link_to_azure_resource",
                                        "type": "string",
                                        "value": "@{body('Filter_array_url_link_split_array')[0]}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Filter_array_url_link_split_array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "var_resource_group_name": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "resource_group_name",
                                        "type": "string",
                                        "value": "@{variables('ase_name_split_array')[8]}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "var_ase_name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "var_subscription_id": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "subscription_id",
                                        "type": "string",
                                        "value": "@{variables('ase_name_split_array')[6]}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "var_resource_group_name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "var_url_link_split": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "url_link_split",
                                        "type": "string",
                                        "value": "@{split(triggerBody()?['data']?['alertContext']?['properties']?['communication'],'\"')}"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "var_url_link_split_array": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "url_link_split_array",
                                        "type": "array",
                                        "value": "@json(variables('url_link_split'))"
                                    }
                                ]
                            },
                            "runAfter": {
                                "var_url_link_split": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "parm_logicapp_EmailAddress": {
                            "defaultValue": {},
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "alertContext": {
                                                    "properties": {
                                                        "ResourceType": {},
                                                        "authorization": {},
                                                        "caller": {},
                                                        "channels": {
                                                            "type": "integer"
                                                        },
                                                        "claims": {},
                                                        "correlationId": {
                                                            "type": "string"
                                                        },
                                                        "eventDataId": {
                                                            "type": "string"
                                                        },
                                                        "eventSource": {
                                                            "type": "integer"
                                                        },
                                                        "eventTimestamp": {
                                                            "type": "string"
                                                        },
                                                        "httpRequest": {},
                                                        "level": {
                                                            "type": "integer"
                                                        },
                                                        "operationId": {
                                                            "type": "string"
                                                        },
                                                        "operationName": {
                                                            "type": "string"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "IsSynthetic": {
                                                                    "type": "string"
                                                                },
                                                                "communication": {
                                                                    "type": "string"
                                                                },
                                                                "communicationId": {
                                                                    "type": "string"
                                                                },
                                                                "communicationRouteType": {
                                                                    "type": "string"
                                                                },
                                                                "defaultLanguageContent": {
                                                                    "type": "string"
                                                                },
                                                                "defaultLanguageTitle": {
                                                                    "type": "string"
                                                                },
                                                                "emailTemplateFullVersion": {
                                                                    "type": "string"
                                                                },
                                                                "emailTemplateId": {
                                                                    "type": "string"
                                                                },
                                                                "emailTemplateLocale": {
                                                                    "type": "string"
                                                                },
                                                                "impactCategory": {
                                                                    "type": "string"
                                                                },
                                                                "impactMitigationTime": {
                                                                    "type": "string"
                                                                },
                                                                "impactStartTime": {
                                                                    "type": "string"
                                                                },
                                                                "impactType": {
                                                                    "type": "string"
                                                                },
                                                                "impactedServices": {
                                                                    "type": "string"
                                                                },
                                                                "impactedServicesTableRows": {
                                                                    "type": "string"
                                                                },
                                                                "incidentType": {
                                                                    "type": "string"
                                                                },
                                                                "isHIR": {
                                                                    "type": "string"
                                                                },
                                                                "maintenanceId": {
                                                                    "type": "string"
                                                                },
                                                                "region": {
                                                                    "type": "string"
                                                                },
                                                                "service": {
                                                                    "type": "string"
                                                                },
                                                                "smsText": {
                                                                    "type": "string"
                                                                },
                                                                "stage": {
                                                                    "type": "string"
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                },
                                                                "trackingId": {
                                                                    "type": "string"
                                                                },
                                                                "version": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "subStatus": {},
                                                        "submissionTimestamp": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "essentials": {
                                                    "properties": {
                                                        "alertContextVersion": {
                                                            "type": "string"
                                                        },
                                                        "alertId": {
                                                            "type": "string"
                                                        },
                                                        "alertRule": {
                                                            "type": "string"
                                                        },
                                                        "alertTargetIDs": {
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "essentialsVersion": {
                                                            "type": "string"
                                                        },
                                                        "firedDateTime": {
                                                            "type": "string"
                                                        },
                                                        "monitorCondition": {
                                                            "type": "string"
                                                        },
                                                        "monitoringService": {
                                                            "type": "string"
                                                        },
                                                        "originAlertId": {
                                                            "type": "string"
                                                        },
                                                        "severity": {
                                                            "type": "string"
                                                        },
                                                        "signalType": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[parameters('connections_office365_connectionid')]",
                                "connectionName": "[parameters('connections_office365_name')]",
                                "id": "[parameters('connections_office365_id')]"
                            }
                        }
                    },
                    "parm_logicapp_EmailAddress": {
                        "value": "[parameters('EmailAddress')]"
                    }
                }
            }
        }
    ]
}